<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Путь фрилансера - сайт книги</title>
    <!-- normalize.css was include to current page for correct view on other browsers -->
    <link rel="stylesheet" href="../../static/css/normalize.css" />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
<header class="header">
    <div class="header-container">
        <div class="span logo">Книжный магазин</div>
        <nav class="nav">
            <a href="" class="nav-link">Жанры</a>
            <a href="" class="nav-link">Авторы</a>
            <a href="" class="nav-link"></a>
        </nav>
    </div>
</header>



<table id="table_id" border="1" cellpadding="7px">
    <tr style="background: blue; color: white">
        <td>Название книги</td>
        <td>Имя автора</td>
        <td>Фамилия автора</td>
        <td>Дата публикации</td>
        <td>Издатель</td>
        <td>Цена</td>

    </tr>

  {% for book in books %}
      <tr>
        <td>{{ book.name_book }}</td>
        <td>{{ book.name_author }}</td>
        <td>{{ book.surname_author }}</td>
        <td>{{ book.date_of_publication }}</td>
        <td>{{ book.publisher }}</td>
        <td>{{ book.salary }}</td>
      </tr>
  {% endfor %}
  </table>
<!--    &lt;!&ndash; Шапка сайта &ndash;&gt;-->
<!--    <header class="header">-->
<!--      <div class="header-container">-->
<!--        <div class="span logo">Книжный</div>-->
<!--        &lt;!&ndash; /.span logo &ndash;&gt;-->
<!--        <nav class="nav">-->
<!--          <a href="#" class="nav-link">Бестселлеры</a>-->
<!--          <a href="#" class="nav-link">Подборки</a>-->
<!--          <a href="#" class="nav-link">Авторы</a>-->
<!--          <a href="#" class="nav-link">Дайджест</a>-->
<!--          <a href="#" class="nav-link">Подписка</a>-->
<!--          <a href="#" class="nav-link">Выбор редакции</a>-->
<!--        </nav>-->
<!--        <a href="login/" class="login">Личный кабинет</a>-->
<!--      </div>-->
<!--      &lt;!&ndash; /.header-container &ndash;&gt;-->
<!--    </header>-->
<!--    &lt;!&ndash; Главная секция &ndash;&gt;-->
<!--    <section class="hero">-->
<!--      <div class="hero-conteiner">-->
<!--        <div class="image-block">-->
<!--          <img-->
<!--          class="hero-image"-->
<!--          src="../../static/img/escanor.jpg"-->
<!--          alt="Книга Путь фрилансера"-->
<!--        />-->
<!--        &lt;!&ndash; /.hero-image &ndash;&gt;-->
<!--        <span class="sale-label">Скидка 30%</span>-->
<!--        </div>-->
<!--        <div class="hero-text">-->
<!--          <span class="author">Автор Авторович</span>-->
<!--          <h1 class="title">Название</h1>-->
<!--          <span class="subtitle">Поколение людей, работающих в интернете</span>-->
<!--          <div class="info">-->
<!--            <span class="info-text date">Год выпуска: 2021</span>-->
<!--            <span class="info-text format">Формат издания: 145x2015</span>-->
<!--            <span class="info-text type">Тип обложки: мягкая</span>-->
<!--            <span class="info-text age">Возрастные ограничения: 12+</span>-->
<!--          </div>-->
<!--          &lt;!&ndash; /.info &ndash;&gt;-->
<!--          <div class="price">-->
<!--            <span class="pricetag">490 Р</span>-->
<!--            <a href="" class="favorites">Добавить в избранное</a>-->
<!--          </div>-->
<!--          &lt;!&ndash; /.price &ndash;&gt;-->
<!--          <div class="buttons">-->
<!--            <button class="button button-primary">Читать отрывок</button-->
<!--            ><a href="https://yandex.ru" class="button button-outline"-->
<!--              >Купить книгу</a-->
<!--            >-->
<!--          </div>-->
<!--          &lt;!&ndash; /.buttons &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /.hero-text &ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash; /.hero-conteiner &ndash;&gt;-->
<!--    </section>-->
<!--    &lt;!&ndash; Секция о книге &ndash;&gt;-->
<!--    <section class="about">-->
<!--      <div class="about-container">-->
<!--        <div class="about-book">-->
<!--          <h2 class="section-title">О книге</h2>-->
<!--          <p class="about-text">-->
<!--            Ключ от свободы скрыт в книжном магазине. Данное произведение —-->
<!--            золотой ключ от двери с надписью «Фриланс».</p>-->
<!--            <p class="about-text"> Это история сильной-->
<!--            личности, выковавшей себя из камня. Это глубоко, честно и про-->
<!--            каждого из нас. С первых страниц автор затрагивает струны души тех-->
<!--            самых людей, которые захотели жить по-другому. И самое уникальное-->
<!--            то, что в книге раскрыт подробный план к действиям. </p>-->

<!--          </p>-->
<!--        </div>-->
<!--        &lt;!&ndash; /.about-book &ndash;&gt;-->
<!--        <div class="about-author">-->
<!--          <img src="../../static/img/Author.png" alt="Фото автора" class="author-avatar" />-->
<!--          <div class="author-bio">-->
<!--            <h3 class="author-name">Артем Исламов</h3>-->
<!--            <a href="https://tapid.pro/islamovartem" class="author-link"-->
<!--              >https://tapid.pro/islamovartem</a-->
<!--            >-->
<!--          </div>-->
<!--          &lt;!&ndash; /.author-bio &ndash;&gt;-->
<!--          <p class="author-text">-->
<!--            Автор ютуб канала Glo Academy. Фрилансер, веб разработчик и веб-->
<!--            дизайнер. Преподаватель онлайн-курсов по веб разработке для-->
<!--            начинающих-->
<!--          </p>-->
<!--        </div>-->
<!--        &lt;!&ndash; /.about-author &ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash; /.about-container &ndash;&gt;-->
<!--    </section>-->
<!--    &lt;!&ndash; Читатели &ndash;&gt;-->
<!--    <section class="readers">-->
<!--      <div class="section-readers">-->
<!--        <h2 class="header-readers">-->
<!--        Читатели-->
<!--      </h2>-->
<!--      <div class="block-readers">-->
<!--        <img src="https://www.vokrug.tv/pic/person/5/1/d/5/51d54ea90b035b2cac59253dd0889271.png" alt="" class="photo-readers">-->
<!--        <img src="https://citaty.info/files/characters/31859.jpeg" alt="" class="photo-readers">-->
<!--        <img src="https://www.vokrug.tv/pic/person/5/1/d/5/51d54ea90b035b2cac59253dd0889271.png" alt="" class="photo-readers">-->
<!--        <img src="https://citaty.info/files/characters/31859.jpeg" alt="" class="photo-readers">-->
<!--        <img src="https://www.vokrug.tv/pic/person/5/1/d/5/51d54ea90b035b2cac59253dd0889271.png" alt="" class="photo-readers">-->
<!--        <img src="https://citaty.info/files/characters/31859.jpeg" alt="" class="photo-readers">-->
<!--        <img src="https://www.vokrug.tv/pic/person/5/1/d/5/51d54ea90b035b2cac59253dd0889271.png" alt="" class="photo-readers">-->
<!--        <img src="https://citaty.info/files/characters/31859.jpeg" alt="" class="photo-readers">-->
<!--        <img src="https://www.vokrug.tv/pic/person/5/1/d/5/51d54ea90b035b2cac59253dd0889271.png" alt="" class="photo-readers">-->
<!--        <img src="http://images.shoutwiki.com/ytp/9/97/%D0%A0%D0%B8%D0%BA%D0%B0%D1%80%D0%B4%D0%BE_%D0%9C%D0%B8%D0%BB%D0%BE%D1%81.jpg" alt="" class="photo-readers">-->
<!--        <img src="https://www.vokrug.tv/pic/person/5/1/d/5/51d54ea90b035b2cac59253dd0889271.png" alt="" class="photo-readers">-->
<!--        <img src="https://citaty.info/files/characters/31859.jpeg" alt="" class="photo-readers">-->
<!--      </div>-->
<!--      &lt;!&ndash; /.block-readers &ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash; /.section-readers &ndash;&gt;-->
<!--    </section>-->
<!--    &lt;!&ndash; Подвал &ndash;&gt;-->
<!--    <footer class="footer">-->
<!--      <div class="footer-container">-->
<!--        <div class="requisites">-->
<!--          <h3 class="footer-title">-->
<!--            Реквизиты-->
<!--          </h3>-->
<!--          <ul class="footer-list">-->
<!--            <li class="list-item">ИП Исламов Артем Данисович</li>-->
<!--            <li class="list-item">ИНН 3274938755798275</li>-->
<!--            <li class="list-item">ОГРНИП 51385681658756187</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash; /.requisites &ndash;&gt;-->
<!--        <div class="information">-->
<!--          <h3 class="footer-title">-->
<!--            Информация-->
<!--          </h3>-->
<!--          <ul class="footer-list">-->
<!--            <li class="list-item">Политика конфиденциальности</li>-->
<!--            <li class="list-item">Правила обработки данных</li>-->
<!--            <li class="list-item">Договор-оферта</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash; /.information &ndash;&gt;-->
<!--        <div class="contacts">-->
<!--          <h3 class="footer-title">-->
<!--            Контакты-->
<!--          </h3>-->
<!--          <ul class="footer-list">-->
<!--            <li class="list-item"><a href="mailto:wadim.karlov@mail.ru" class="footer-link">blabla@blabla.bla</a></li>-->
<!--            <li class="list-item"><a href="https://vk.com/blabla1214" class="footer-link">vk.com/blabla1214</a></li>-->
<!--            <li class="list-item">kokram.me</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash; /.contacts &ndash;&gt;-->
<!--      </div>-->
<!--    </footer>-->
<!--    <a href="#" class="to-top">-->
<!--      <img src="../../static/img/arrow.png" alt="стрелочка на верх">-->
<!--    </a>-->
  </body>
</html>
