<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Добро пожаловать в книжный магазин!</title>
    <!-- normalize.css was include to current page for correct view on other browsers -->
    <link rel="stylesheet" href="../../static/css/normalize.css" />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__logo">Книжный магазин</div>
        <nav class="header__nav">
          <a href="#" class="header__link">Новинки</a>
          <a href="#" class="header__link">Авторы</a>
          <a href="#" class="header__link">Подписка</a>
        </nav>
        <a href="#" class="header__login">Личный кабинет</a>
      </div>
      <!--/.header-container -->
    </header>
    <!-- /.header -->

    <!-- Главная секция -->
    <section class="hero">
      <div class="container">
        <div class="hero__slider">
          <div class="slider-line">
            <img
              src="../../static/img/Harry_potter_1.jpg"
              alt="Eskanor"
              class="slider-line__book"
            />
            <img
              src="../../static/img/Harry_potter_4.jpg"
              alt="Crazy cat"
              class="slider-line__book"
            />
            <img
              src="../../static/img/Harry_potter_1.jpg"
              alt="alchimik"
              class="slider-line__book"
            />
            <img
              src="../../static/img/Harry_potter_4.jpg"
              alt="Jungus"
              class="slider-line__book"
            />
          </div>
          <div class="hero__text">
            <div class="hero__price">Цена из БД</div>
            <div class="hero__author">автор книги (из БД!)</div>
            <div class="hero__title">Название книги (из БД)</div>
          </div>
          <!-- /.hero__text -->
          <!--./slider-line -->
          <div class="slider-buttons">
            <button class="button slider-prev">Prev</button>
            <button class="button slider-next">Next</button>
          </div>
        </div>
        <!-- /.hero__slider -->
      </div>
      <!-- /.container -->
    </section>

    <section class="about_book">
      <div class="container">Секция о книге</div>
    </section>
    <!-- Читатели -->
    <section class="readers">
      <div class="container">Секция читателей</div>
    </section>
    <!-- Подвал -->
    <footer class="footer">
      <div class="container">подвал сайта</div>
    </footer>
    <!--    <a href="#" class="to-top">-->
    <!--      <img src="../../static/img/arrow.png" alt="стрелочка на верх">-->
    <!--    </a>-->

    <script src="../../static/js/javascript.js" defer></script>
  </body>
</html>
